{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h3>User ID : {{name}}</h3>
<br>

<main role="main">
    <div class="jumbotron p-5">
      <div class="row"> 
      <div class="col-sm-4 mx-auto"> <img src="/static/img/rsz_3carrot_symbol.png"></div>
      <div class="col-sm-8 mx-auto">
        <h1>Instacart</h1>
        <p>Welcome to Instacart health control App</p>
        <p>People are always going to go shopping. A lot of our effort is just ‘how do we make the retail experience a great one?</p>
        <p>
          <a class="btn btn-success" href="https://www.instacart.com/" role="button">Shop Now</a>
        </p>
      </div>
    </div>
    </div>
  </main>

{% endblock %}